services:
  personaplex:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8998:8998"
    environment:
      - NO_TORCH_COMPILE=1
      - HF_TOKEN=${HF_TOKEN}
      - NVIDIA_VISIBLE_DEVICES=all
    env_file:
      - .env
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [ gpu ]
    volumes:
      - ./.cache:/root/.cache
      - ./ssl:/app/ssl
    restart: unless-stopped
    shm_size: '8g'